@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1,
h2,
h3,
h4,
p {
  font-family: 'Roboto', sans-serif;
}

.book.font-family-1 {
    font-family: 'Roboto', sans-serif;
}

#background {
  text-align: center;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}
